@font-face {
	font-family: 'Comfortaa';
	src: url('/fonts/comfortaa-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Comfortaa Light';
	src: url('/fonts/comfortaa-light.ttf') format('truetype');

    font-weight: 300;
}

@font-face {
	font-family: 'Comfortaa Bold';
	src: url('/fonts/comfortaa-bold.ttf') format('truetype');

    font-weight: 700;
}

@font-face {
    font-family: 'Nunito';
    src: url('/fonts/nunito-regular.ttf');
}

@font-face {
    font-family: 'Nunito Bold';
    src: url('/fonts/nunito-semibold.ttf');
    
    font-weight: 700;
}

@font-face {
	font-family: 'Material Icons';
	src: url('/fonts/materialicons.ttf') format('truetype');
}

body {
    background-color: #EEEEEE;
    margin: 0;
    overflow-y: scroll;
}

* {
    font-family: 'Nunito', Fallback, sans-serif;
    font-weight: normal;
    color: #333333;
    line-height: 150%;
    font-size: 18px;
}

h1 {
	font-family: 'Comfortaa Light', Fallback, sans-serif;
	font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'Comfortaa', Fallback, sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: normal;
    font-family: 'Comfortaa', Fallback, sans-serif;
}

span {
    font-family: inherit;
    font-size: inherit;
}

b, .bold {
    font-family: 'Nunito Bold', Fallback, sans-serif;
    font-size: inherit;
}

a {
    text-decoration: none;
    color: black;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.md-dark {color: rgba(0, 0, 0, 0.54);}

.md-light {color: #FFFFFF;}

.md-big {font-size: 32px;}

select {
    font-family: 'Nunito Bold', Fallback, sans-serif;
    padding: 5px 10px;
    width: 100%;
    background-color: transparent;
    border: 2px solid #009DA5;
    border-radius: 3px;
    
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background: url("/images/arrow-down.svg") no-repeat 98%;
}

select::-ms-expand {
    display: none;
}

input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 2px;
    border-style: none;
    border-bottom-style: solid;
    border-color: #009DA5;
    border-width: 2px;
    font-family: 'Nunito', Fallback, sans-serif;
}

input:focus {
    outline: 0;
    border-width: 3px;
}

.table-input-1 {
    width: 98%;
    margin: 0;
}

.table-input-2 {
    width: calc(100% - 75px);
    margin: 0;
}

button {
    font-family: 'Nunito Bold', Fallback, sans-serif;
    padding: 8px 12px;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #009DA5;
    border-radius: 3px;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #009DA5;
    color: #F9F9F9;
}

button:focus, button:active, input:focus, select:focus {outline: 0;}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    background-color: white;
    width: 50%;
    height: 28px;
}

.word {
    font-size: 22px;
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    color: dodgerblue;
}

.link:hover {
    text-decoration: underline;
}

.page {
    width: 93%;
    max-width: 700px;
    min-height: 80vh;

    background-color: white;

    margin: 15px auto;
    box-sizing: border-box;
    padding: 5px 15px 15px 15px;

    border-radius: 5px;
    box-shadow: 0px 0px 20px #888888;
}

@media (min-width: 600px) {
    .page {
        padding: 10px 40px 20px 40px;
    }
}

@media (min-width: 800px) {
    .page {
        padding: 20px 70px 50px 70px;
    }
}

.dim {
    height: 100%;
    width: 100%;
    background-color: black;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    transition-duration: 0.2s;
}

.dim-show {
    visibility: visible;
    opacity: 0.2;
}

.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    max-width: 90%;
    transform: translate(-50%, -50%) scale(0.8);
    -ms-transform: translate(-50%, -50%) scale(0.8);
    opacity: 0;
    
    padding: 10px 20px 20px 20px;
    box-sizing: border-box;
    text-align: center;
    
    background-color: white;
    border: 3px solid #009DA5;
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #888888;
    
    transition-duration: 0.15s;
}

.overlay-show {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    -ms-transform: translate(-50%, -50%) scale(1);
}

.desktop-menu {
    display: none;
}

@media (min-width: 1000px) {
    .desktop-menu {
        display: block;
    }

    .mobile-menu, .dropdown-menu {
        display: none;
    }
}

.menu {
    margin: 0;
    padding: 10px 0;
    height: 50px;
    width: 100%;
    background-color: #009DA5;
}

.menu a {
    font-family: 'Comfortaa Bold', Fallback, sans-serif;
    font-size: 18px;
    padding: 5px 0;
    margin: 20px;
    color: white;
    position: relative;
}

.menu .material-icons {
    margin-right: 5px;
}

.menu-group {
    float: left;
    height: 50px;
    line-height: 50px;
}

.menu-left {
    width: 25%;
    text-align: left;
}

.menu-center {
    width: 50%;
    text-align: center;
}

.menu-right {
    width: 25%;
    text-align: right;
}

.logo {
    line-height: 1;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border: none;
    -ms-interpolation-mode: bicubic;
}

.underline:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.underline:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.underline:hover {
    transition-duration: 0.2s;
}

#dropdown-menu {
    background-color: #00797f;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.4s ease;
}

.dropdown-hide {
    height: 0;
    padding: 0 10px;
}

.dropdown-show {
    height: 161px;
    padding: 10px;
}

#dropdown-menu a {
    font-family: 'Comfortaa Bold', Fallback, sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
    display: block;
    text-align: right;
}

#dropdown-menu .material-icons {
    margin-right: 5px;
}

#dropdown-menu-button {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 15px;

    padding: 2px;
    border: 2px white solid;
}

#dropdown-menu-button:hover {
    cursor: default;
}

.ingress {
	margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.ingress p {
	font-size: 20px;
	margin: 0px;
}

.ingress button {
    margin-top: 20px;
}

.row {
    max-width: 1200px;
    margin: auto;
}

.col {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding: 20px 0;
}

@media (min-width: 700px) {
    .col {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .col {
        width: 33.33333%;
    }
}

.card {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    padding: 10px;
    text-decoration: none;

    background-color: white;
    box-shadow: 0px 0px 15px #888888;
    border: 3px solid #009DA5;
    border-radius: 5px;

    transition-duration: 0.2s;
}

.card:hover {
    background-color: #009DA5;
    color: #F9F9F9;
}

.card:hover p, .card:hover h3 {
    color: #F9F9F9;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.form {
    width: 40%;
}

.correct {
    color: green;
    font-family: 'Nunito Bold', Fallback, sans-serif;
}

.false {
    color: red;
    font-family: 'Nunito Bold', Fallback, sans-serif;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    box-shadow: 0px 0px 15px #888888;
}

.dropdown-content a {
    text-decoration: none;
    padding: 15px;
    display: block;
    color: rgba(0, 0, 0, 0.54);
}

.dropdown-content a:hover {
    background-color: #EEEEEE;
    box-sizing: border-box;
    width: 100%;
}

.dropdown-content i {
    margin-right: 10px;
}

.dropdown-content a span {
    color: rgba(0, 0, 0, 0.54);
}

.wordListButtons {
    padding: 5px 10px;
    line-height: 1;
    position: relative;
}

.iconButton {
    padding: 5px 0;
    color: rgba(0, 0, 0, 0.54);

    border-style: none;
    cursor: pointer;
}

.iconButton:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.54);
}

.iconButton i {
    margin: 0 5px;
}

.deleteWordButton {
    float: right;
    height: 24px;
    width: 24px;
    padding: 0;
    margin: 0 0 0 10px;
    color: grey;

    border-style: none;
    cursor: pointer;

    transition-duration: 0s;
}

.deleteWordButton:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.54);
}

.comments {
    min-height: 30px;
    width: 100%;
    margin-top: 20px;
}

.fill-width {
    display: block;
    overflow: hidden;
    padding-right: 20px;
}

#progressBar {
    height: 25px;
    width: 100%;
    margin-top: 20px;
    background-color: #C6E1E3;
    border-radius: 4px;
}

#table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

#deleteAllWords {
    margin-top: 30px;
}

#correctComment, #wrongComment, #correctRepeatComment {
    font-size: 18px;
    margin-bottom: 0px;
}

#practice, #practiceRepeatWord {
    margin-bottom: 20px;
}

#practiceForm, #practiceRepeatForm {
    width: 100%;
    max-width: 100%;
}

#practiceProgress {
    height: 100%;
    width: 0%;
    background-color: #009DA5;
    border-radius: 4px;
    text-align: center;
    
    color: white;
    font-family: 'Nunito Bold';
    font-size: 18px;
}

#practiceRepeatWord {
    display: none;
}

#testScore {
    margin-bottom: 30px;
}

#grade {
    font-size: 25px;
    margin-top: 10px;
}


/* Ensures placeholders look the same in all browsers */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #8E8E8E;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #8E8E8E;
   opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #8E8E8E;
   opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #8E8E8E;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #8E8E8E;
}
