@font-face {
	font-family: 'comfortaa';
	src: url('/fonts/comfortaa-regular.eot');
	src: url('/fonts/comfortaa-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa-regular.ttf') format('truetype');
}

@font-face {
	font-family: 'comfortaa-light';
	src: url('/fonts/comfortaa-light.eot');
	src: url('/fonts/comfortaa-light.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa-light.ttf') format('truetype');

    font-weight: 300;
}

@font-face {
	font-family: 'comfortaa-bold';
	src: url('/fonts/comfortaa-bold.eot');
	src: url('/fonts/comfortaa-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/comfortaa-bold.ttf') format('truetype');

    font-weight: 700;
}

@font-face {
	font-family: 'opensans';
	src: url('/fonts/opensans.eot');
	src: url('/fonts/opensans.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans.woff') format('woff'),
         url('/fonts/opensans.ttf') format('truetype');
}

@font-face {
	font-family: 'Material Icons';
	src: url('/fonts/materialicons.eot');
	src: url('/fonts/materialicons.eot?#iefix') format('embedded-opentype'),
         url('/fonts/materialicons.woff') format('woff'),
         url('/fonts/materialicons.ttf') format('truetype');
}

body {
    background-color: #EEEEEE;
    margin: 0;
    overflow-y: scroll;
}

* {
    font-family: 'comfortaa', Fallback, sans-serif;
    font-weight: normal;
    color: #333333;
    line-height: 150%;
}

p, select, button, input {
    font-size: 16px;
}

h1 {
	font-family: 'comfortaa-light', Fallback, sans-serif;
	font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: 'comfortaa', Fallback, sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

b, .bold {
    font-family: 'comfortaa-bold';
}

a {
    text-decoration: none;
    color: black;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}

.md-dark {color: rgba(0, 0, 0, 0.54);}

.md-light {color: #FFFFFF;}

select {
    font-family: 'comfortaa-bold';
    padding: 5px;
    width: 100%;
    background-color: transparent;
    border: 2px solid #009DA5;
}

input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 2px;
    border-style: none;
    border-bottom-style: solid;
    border-color: #009DA5;
    border-width: 2px;
    font-family: 'opensans', Fallback, sans-serif;
}

input:focus {
    outline: 0;
    border-width: 3px;
}

button {
    font-family: 'comfortaa-bold', Fallback, sans-serif;
    padding: 8px 12px;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #009DA5;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #009DA5;
    color: #F9F9F9;
}

button:focus, input:focus, select:focus {outline: 0;}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    background-color: white;
    font-family: 'comfortaa', Fallback, sans-serif;
    width: 50%;
}

.word {
    font-size: 20px;
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    color: dodgerblue;
}

.link:hover {
    text-decoration: underline;
}

.page {
    width: 93%;
    max-width: 700px;
    min-height: 80vh;

    background-color: white;

    margin: 15px auto;
    box-sizing: border-box;
    padding: 5px 15px 15px 15px;

    border-radius: 0px;
    box-shadow: 0px 0px 20px #888888;
}

@media (min-width: 600px) {
    .page {
        box-sizing: border-box;
        padding: 20px 70px 50px 70px;
    }
}

.desktop-menu {
    display: none;
}

@media (min-width: 1000px) {
    .desktop-menu {
        display: block;
    }

    .mobile-menu, .dropdown-menu {
        display: none;
    }
}

.menu {
    margin: 0;
    padding: 10px 0;
    height: 50px;
    width: 100%;
    background-color: #009DA5;
}

.menu a {
    font-family: 'comfortaa-bold', Fallback, sans-serif;
    font-size: 18px;
    padding: 5px 0;
    margin: 20px;
    color: white;
    position: relative;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.menu a:hover {
    transition-duration: 0.2s;
}

.menu .material-icons {
    margin-right: 5px;
}

.menu-group {
    float: left;
    height: 50px;
    line-height: 50px;
}

.menu-left {
    width: 25%;
    text-align: left;
}

.menu-center {
    width: 50%;
    text-align: center;
}

.menu-right {
    width: 25%;
    text-align: right;
}

#dropdown-menu {
    background-color: #00797f;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    transition: all 0.4s ease;
}

.dropdown-hide {
    height: 0;
    padding: 0 10px;
}

.dropdown-show {
    height: 161px;
    padding: 10px;
}

#dropdown-menu a {
    font-family: 'comfortaa-bold', Fallback, sans-serif;
    font-size: 18px;
    color: white;
    padding: 10px;
    display: block;
    text-align: right;
}

#dropdown-menu .material-icons {
    margin-right: 5px;
}

#dropdownButton {
    font-size: 32px;
    vertical-align: middle;
    margin-right: 15px;

    padding: 2px;
    border: 2px white solid;
}

#dropdownButton:hover {
    cursor: default;
}

.ingress {
	margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.ingress p {
	font-size: 18px;
	margin: 0px;
}

.ingress button {
    margin-top: 20px;
}

.row {
    max-width: 1200px;
    margin: auto;
}

.col {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding: 20px 0;
}

@media (min-width: 700px) {
    .col {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .col {
        width: 33.33333%;
    }
}

.card {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    padding: 10px;
    text-decoration: none;

    background-color: white;
    box-shadow: 0px 0px 15px #888888;
    border: 3px solid #009DA5;

    transition-duration: 0.2s;
}

.card:hover {
    background-color: #009DA5;
    color: #F9F9F9;
}

.card:hover p, .card:hover h3 {
    color: #F9F9F9;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.form {
    width: 40%;
}

.correct {
    color: green;
    font-family: 'comfortaa-bold';
}

.false {
    color: red;
    font-family: 'comfortaa-bold';
}

.deleteWordButton {
    float: right;
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 10px;
    color: grey;

    border-style: none;
    cursor: pointer;

    transition-duration: 0s;
}

.deleteWordButton:hover {
    background-color: transparent;
    color: rgba(0, 0, 0, 0.54);
}

#testScore {
    margin-bottom: 30px;
}

#deleteAllWords {
    margin-top: 30px;
}

.comments {
    min-height: 30px;
    width: 100%;
    margin-top: 20px;
}

#correctComment, #wrongComment, #correctRepeatComment {
    font-size: 18px;
    margin-bottom: 0px;
}

#practice, #practiceRepeatWord {
    margin-bottom: 20px;
}

#table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

#practiceForm, #practiceRepeatForm {
    width: 100%;
    max-width: 100%;
}

#practiceRepeatWord {
    display: none;
}

.fill-width {
    display: block;
    overflow: hidden;
    padding-right: 20px;
}
