@font-face {
	font-family: comfortaa;
	src: url(/fonts/Comfortaa-Regular.ttf);
}

@font-face {
	font-family: comfortaa-light;
	src: url(/fonts/Comfortaa-Light.ttf);
}

@font-face {
	font-family: comfortaa-bold;
	src: url(/fonts/Comfortaa-Bold.ttf);
}

@font-face {
	font-family: opensans;
	src: url(/fonts/OpenSans.ttf);
}

body {
    background-color: #EEEEEE;
    margin: 0;
    overflow-y: scroll;
}

* {
    font-family: comfortaa;
    font-weight: normal;
    color: #333333;
    line-height: 150%;
}

p, select, button, input {
    font-size: 16px;
}

h1 {
	font-family: comfortaa-light;
	font-size: 40px;
    font-weight: normal;
    text-align: center;
    color: #333333;
}

h2 {
    font-size: 30px;
    font-weight: normal;
    font-family: comfortaa;
}

h3 {
    font-size: 24px;
    font-weight: normal;
}

b, .bold {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: black;
}

select {
    font-weight: bold;
    padding: 5px;
    width: 100%;
}

input {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
    padding: 2px;
    border-style: none;
    border-bottom-style: solid;
    border-color: #009DA5;
    border-width: 2px;
    font-family: opensans;
}

input:focus {
    outline: 0;
    border-width: 3px;
}

button {
    font-family: comfortaa-bold;
    padding: 8px 12px;
    background-color: transparent;
    border-style: solid;
    border-width: 3px;
    border-color: #009DA5;
    transition-duration: 0.2s;
}

button:hover {
    background-color: #009DA5;
    color: #F9F9F9;
}

button:focus, input:focus {outline: 0;}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
    background-color: white;
    font-family: comfortaa;
    width: 50%;
}

.word {
    font-size: 20px;
}

.hidden {
    display: none;
}

.link {
    text-decoration: none;
    color: dodgerblue;
}

.link:hover {
    text-decoration: underline;
}

.page {
    width: 90%;
    max-width: 700px;
    min-height: 80vh;
    
    background-color: white;
    
    margin: 20px auto;
    box-sizing: border-box;
    padding: 20px;
    
    border-radius: 0px;
    box-shadow: 0px 0px 20px #888888;
}

@media (min-width: 600px) {
    .page {
        box-sizing: border-box;
        padding: 20px 70px 50px 70px;
    }
}

.menu {
    margin: 0;
    padding: 10px 0;
    height: 50px;
    width: 100%;
    background-color: #009DA5;
}

.menu a {
    font-family: comfortaa-bold;
    font-size: 18px;
    padding: 5px 0;
    margin: 20px;
    color: white;
    position: relative;
}

.menu a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out 0s;
}

.menu a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.menu a:hover {
    transition-duration: 0.2s;
}

.menu-group {
    float: left;
    height: 50px;
    line-height: 50px;
}

.menu-left {
    width: 25%;
    text-align: left;
}

.menu-center {
    width: 50%;
    text-align: center;
}

.menu-right {
    width: 25%;
    text-align: right;
}

.ingress {
	margin-top: 0px;
    margin-bottom: 30px;
    text-align: center;
}

.ingress p {
	font-size: 18px;
	margin: 0px;
}

.row {
    max-width: 1200px;
    margin: auto;
}

.col {
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
    padding: 20px 0;
}

@media (min-width: 1000px) {
    .col {
        width: 33.33333%;
    }
}

.card {
    display: block;
    position: relative;
    width: 70%;
    margin: auto;
    padding: 10px;
    text-decoration: none;
    
    background-color: white;
    box-shadow: 0px 0px 15px #888888;
    border: 3px solid #009DA5;
    
    transition-duration: 0.2s;
}

.card:hover {
    background-color: #009DA5;
    color: #F9F9F9;
}

.card:hover p, .card:hover h3 {
    color: #F9F9F9;
}

.center {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.float-left {
    float: left;
}

.float-right {
    float: right;    
}

.form {
    width: 40%;
}

.comments {
    height: 100px;
}

.correct {
    color: green;
    font-weight: bold;
}

.false {
    color: red;
    font-weight: bold;
}

.deleteWordButton {
    float: right;
    height: 20px;
    width: 20px;
    padding: 0;
    margin-left: 10px;
    
    font-size: 15px;
    font-weight: bold;
    color: grey;
    
    background: url(/img/x.png) no-repeat;
    background-size: 100% 100%;
    
    border-style: none;
}

.deleteWordButton:hover {
    background-color: transparent;
}

#testScore {
    margin-bottom: 30px;
}

#deleteAllWords {
    margin-top: 30px;
}

#correctComment, #wrongComment {
    font-size: 20px;
}

#practice {
    margin-bottom: 20px;
}

#table {
    width: 100%;
}

#practiceForm {
    width: 100%;
    max-width: 100%;
}

.fill-width {
    display: block;
    overflow: hidden;
    padding-right: 20px;
}

#menu-collapse-icon {
    width: 50px;
    height: 50px; 
}
